<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/4c787417e9.js" crossorigin="anonymous"></script>
</head>
<body>
    {% block body %}

    {% endblock %}
      
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</body>
</html>