{% extends 'base.html' %}


{% block body %}
    <div id="content_area">
        {% set act="/feedbacks/" + feedback.id|string  + "/update"  %}
        
        <form action={{act}} method="POST">
            <h1> Update feedback</h1>
            {{ feedback_form.hidden_tag ( ) }}
            {% for field in feedback_form if field.widget.input_type != 'hidden' %}
                <p>
                    {{field.label(class_="label")}}
                    {{field}}
                </p>

            {% endfor %}

            <div class="form_line">
                {% set formact="/users/" + username %}
                <!-- <button  formaction={{formact}}  formmethod="GET" class="inline" type="submit">Cancel</button> -->
                <button  class="inline span_200" type="submit">Save changes</button>
            </div>

       
        </form>
    </div>
{% endblock %}